
body {
    background-position-x: center!important;
}

// fullscreen container & loading
.container-full {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    .loading {
        flex: 1 0;
    }
}

ion-slides {
    height: 60%;

    .swiper-slide {
        display: -ms-flexbox;
        display: block;
    }

    .swiper-pagination-bullets {
        bottom: 90px !important;
        width: 9px;
        height: 9px;
        .swiper-pagination-bullet-active {
            background: var(--ion-color-secondary) !important;
        }
        .swiper-pagination-bullet {
            background: white!important;
        }
    }
    ion-slide {
        // color: dark
        img {
            height: 90px;
        }
        h1 {
            font-size: 1.375em;
            font-weight: 600;
            color: var(--ion-color-secondary);
        }
        p {
            margin: 0 auto;
            max-width: 270px;
        }
        &.started {
            .slide-zoom {
                position: relative;
            }
            ion-button {
                margin-top: 2em !important;
                border-radius: 6px !important;
            }
        }
    }
}

.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: #A9C012;
    .city {
        position: absolute;
        transform: translateY(-99%);
        width: 100%;
    }
    .terms {
        color: rgba(0,0,0,0.3);
        font-size: 11px;
        text-align: center;
        padding: 2px;
        margin: 0 auto;
        max-width: 370px;
    }
    .train {
        transform: translateX(-100%);
        animation: train-animation;
        animation-duration: 5s;
        animation-delay: 0.5s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        position: relative;
        img {
            height: 35px;
            animation: train-bobbing;
            animation-duration: 1s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            margin-bottom: -4px;
        }
    }
}


@keyframes train-animation {
    0% {
        transform: translateX(-100%);
    }
    20% {
        transform: translateX(-100%);
    }
    80% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes train-bobbing {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(1px);
    }
    100% {
        transform: translateY(0);
    }
}



// Custom icons
// Overriding the ion-icon behavior
// All custom icons will start with "mypal-" prefix
ion-icon {
    &[class*="mypal-"] {
        // Instead of using the font-based icons
        // We're applying SVG masks
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: currentColor;
        width: 1em;
        height: 1em;
    } // custom icons
    &[class*="mypal-logo-solid"] {
        mask-image: url(/assets/img/logo-solid.svg);
    }
    &[class*="mypal-tab-balance"] {
        mask-image: url(/assets/img/tab-balance.svg);
    }
    &[class*="mypal-tab-history"] {
        mask-image: url(/assets/img/tab-history.svg);
    }
    &[class*="mypal-tab-outlets"] {
        mask-image: url(/assets/img/tab-outlets.svg);
    }
    &[class*="mypal-money"] {
        mask-image: url(/assets/img/money.svg);
    }
    &[class*="mypal-pass"] {
        mask-image: url(/assets/img/pass.svg);
    }
    &[class*="mypal-train"] {
        mask-image: url(/assets/img/train.svg);
    }
    &[class*="mypal-bus"] {
        mask-image: url(/assets/img/bus.svg);
    }
    &[class*="mypal-tram"] {
        mask-image: url(/assets/img/tram.svg);
    }
    &[class*="mypal-vline"] {
        mask-image: url(/assets/img/vline.svg);
    }
    &[class*="mypal-cards"] {
        mask-image: url(/assets/img/cards.svg);
    }
    &[class*="mypal-fares"] {
        mask-image: url(/assets/img/fares.svg);
    }
    &[class*="mypal-info"] {
        mask-image: url(/assets/img/info.svg);
    }
    &[class*="mypal-myki"] {
        mask-image: url(/assets/img/myki.svg);
    }
}