<div class="container-full">
    <ion-slides pager="true">
      <ion-slide class="ion-padding">
        <img src="/assets/img/intro/icon-1.svg" />
        <h1>Bienvenu dans Taga</h1>
        <h5>Réserver plus facilement vos ticket de bus!</h5>
      </ion-slide>
      <ion-slide class="ion-padding" >
        <img style="background-color: white; border-radius: 123px;" src="/assets/img/intro/tab-outlets.svg" />
        <h1>Facile !</h1>
        <p>Choisissez un trajet auprès de votre compagnie préféré.</p>
      </ion-slide>
      <ion-slide class="ion-padding">
        <img src="/assets/img/intro/icon-2.svg" />
        <h1>Réservation</h1>
        <h5>Ensuite remplissez le formulaire de réservation et payer.</h5>
      </ion-slide>
      <ion-slide class="ion-padding started">
        <img src="/assets/img/intro/pass.svg" />
        <h1>C'est fini !</h1>
        <h5>Présentez le code ticket qui vous sera envoyé. Bon voyage avec Taga!</h5>
        <ion-col size="12">
            <ion-button expand="block" color="secondary" class="ion-text-center"  routerLink="/home">Commencer</ion-button>
        </ion-col>
      </ion-slide>
    </ion-slides>
  </div>
  <div class="footer">
    <img class="city" src="/assets/img/intro/city.svg" />
    <div class="terms">
      Tous droits réservés Carbone &copy; 2020
    </div>
    <div class="train">
      <img class="train" src="/assets/img/intro/bus.png" />
    </div>
  </div>