<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>A propos</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div class="about-header">
      <img class="logo" src="assets/img/Taga.png" alt="taga logo">
    </div>
    <div class="about-info">
      <h4 class="ion-padding-start">Taga</h4>
  
      <p class="ion-padding-start ion-padding-end">
        Réservez depuis votre mobile, à n'importe quel moment et n'import où votre ticket de bus via l'application mobile
        Taga que Carbone met à votre disposition.<br>
        Désormais voyager par bus au Togo devient plus facile; alors facilitez vous la vie: Taga!
      </p>
    </div>

    <ion-list>
      <ion-item (click)="callSupport()" button>
        <ion-label color="primary">Appeler le service client</ion-label>
        <ion-icon slot="end" color="primary" size="small" name="call"></ion-icon>
      </ion-item>
      <ion-item href="mailto:test@test.com" button>
          <ion-label color="primary">Email</ion-label>
          <ion-icon slot="end" color="primary" size="small" name="mail">><a href="mailto:test@test.com"></a></ion-icon>
       
      </ion-item>
      <!-- <ion-item (click)="share()" button>
          <ion-label color="primary">Partager</ion-label>
          <ion-icon slot="end" color="primary" size="small" name="share"></ion-icon>
        </ion-item> -->
    </ion-list>

  </ion-content>
  