<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
      </ion-buttons>
      <ion-title>Détail du trajet</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      
        <ion-card class="custom" *ngIf="company">
          <ion-item lines="none">
              <ion-avatar slot="start">
                  <img src="{{ rootUrl + '/uploads/medias/' + company.media }}">
              </ion-avatar>
              <ion-label>{{ company.name }}</ion-label>
              <ion-card-subtitle *ngIf="ride">{{ ride.dep }} &mdash; {{ ride.dest }} </ion-card-subtitle>
            </ion-item>
        </ion-card>

        <div class="ion-padding" *ngIf="ride">
            <ion-list>
              <ion-item >
                <ion-icon  color="primary" size="small" name="calendar"></ion-icon>
                <ion-label style="margin-left:3px;">Date</ion-label>
                <ion-label slot="end" color="secondary">{{ ride? (ride.date| date: 'dd/MM/yyyy'): '' }}</ion-label>
              </ion-item>
              <ion-item >
                <ion-icon  color="primary" size="small" name="time"></ion-icon> 
                <ion-label style="margin-left:3px;">Heure</ion-label>
                <ion-label slot="end" color="secondary">{{ ride ? ride.depHour: ''  }} </ion-label>
              </ion-item>
              <ion-item >
                <ion-icon  color="primary" size="small" name="cash"></ion-icon> 
                <ion-label style="margin-left:3px;">Tarif</ion-label>
                <ion-label slot="end" color="secondary">{{ ride ? ride.price: ''  }} F CFA</ion-label>
              </ion-item>
              <ion-item >
                <ion-icon  color="primary" size="small" name="ios-people"></ion-icon> 
                <ion-label style="margin-left:3px;">Place(s) dispo.</ion-label>
                <ion-label slot="end" color="secondary">{{ ride ? ride.sits: ''  }} </ion-label>
              </ion-item>
            </ion-list>
        </div>

        <div class="ion-padding" *ngIf="ride">
            <ion-button expand="block" shape="round" (click)="onRideConfirm()">Continuer</ion-button>
        </div>

  </ion-content>
  