    .sc-ion-card-md-h.custom {
      --background: var(--ion-item-background,transparent);
      --color: var(--ion-color-step-550,#737373);
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
      border-radius: 4px;
      font-size: 14px;
      -webkit-box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
      box-shadow: 13px 22px 215px 100px rgba(0,0,0,.2), 0 -4px 2px 0px rgba(0,0,0,.14), 0 -2px 4px -1px rgba(0,0,0,.12);
  }

  h1 {
    margin: 0;
  }

  .scroll {
    background: #ededed;
  }
  
  .speaker-card {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .speaker-card ion-card-header {
    padding: 0;
  }
  
  .speaker-card ion-card-header .item {
    padding: 4px 16px;
  }
  
  .speaker-card ion-card-content {
    flex: 1 1 auto;
  
    padding: 0;
  }
  