.logo {
    // box-shadow: 91px 91px 111px -1px #086308;
    height: 25%;
    width: 90%;
    max-width: 100%;
    margin-left: 4%;
    background: /* gradient can be an image */
    linear-gradient(90deg,
     rgba(238,244,239,1) 3%, 
     rgba(2,241,46,1) 15%, 
     rgba(5,98,0,0.9948354341736695) 48%,
     rgba(198,255,0,1) 78%, rgba(255,255,255,1) 
     98%
    )
    left 
    bottom
    #fff    
    no-repeat; 
    background-size:100% 3px ;/* if linear-gradient, we need to resize it */
}