<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <!-- <ion-header>
        <ion-toolbar>
          <ion-title>Taga</ion-title>
        </ion-toolbar>
      </ion-header> -->

      <ion-content>
        <div class="menu-header row" #header>
          <ion-col col-12 style="text-align: center">
            <img class="logo" src="assets/img/logo.png"/>    
          </ion-col>
        </div>
        <ion-list lines="none">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" color="primary" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
