<ion-header translucent>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button *ngIf="ios" (click)="dismiss()">Annuler</ion-button>
        <ion-button *ngIf="!ios" (click)="selectAll(false)">Reset</ion-button>
      </ion-buttons>
  
      <ion-title>
        Filtrer les trajets
      </ion-title>
  
      <ion-buttons slot="end">
        <ion-button (click)="applyFilters()" strong>
            <ion-icon name="checkmark-circle-outline" color="success" size="large"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content fullscreen>
  
    <ion-list [lines]="ios ? 'inset' : 'full'">
      <ion-list-header>Quel trajets afficher?</ion-list-header>
  
      <ion-item *ngFor="let track of tracks; let i=index;">
        <ion-label>{{track.name}}</ion-label>
        <ion-checkbox (click)="listen(track, i)" [(ngModel)]="track.isChecked"></ion-checkbox>
      </ion-item>

    </ion-list>
  
  </ion-content>
