.md {
    ion-toolbar ion-button {
      text-transform: capitalize;
      letter-spacing: 0;
    }
  
    ion-checkbox {
      --background-checked: transparent;
      --border-color: transparent;
      --border-color-checked: transparent;
      --checkmark-color: var(--ion-color-primary);
    }
  
    ion-list {
      background: inherit;
    }
  }
  
  .ios {
    // TODO this needs to be added to Ionic:
    // https://github.com/ionic-team/ionic/pull/16574
    ion-list-header {
      height: 50px;
      font-size: 22px;
      letter-spacing: 0;
      text-transform: capitalize;
    }
  
    ion-label {
      color: var(--ion-color-primary);
    }
  }