<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dernières réservations</ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content>
  <ion-list #bookingList [hidden]="bookings.length === 0">
    <ion-item-sliding [attr.track]="i+1"  *ngFor="let booking of bookings; let i = index;">
        <ion-item>
          <ion-label>
            <p>
              <ion-card>
                <ion-item>
                    <ion-avatar *ngIf="booking.company" slot="start">
                        <img src="{{ rootUrl + '/uploads/medias/' + booking.company.media }}"> 
                    </ion-avatar>
                    <ion-text>{{booking.company? booking.company.name: ''}}</ion-text>
                </ion-item>
              </ion-card>
            </p>
            <h3>{{booking.ride.dep}} - {{booking.ride.dest}}
                <ion-badge color="dark">{{booking.ride.price}} F CFA</ion-badge>
            </h3>
            <p>
                {{booking.createdAt|date : 'medium': 'UTC': 'fr' }} 
            </p>
            <p>
                <span *ngIf="booking.status">
                    <ion-badge color="tertiary">Payée par {{ booking.payment }} : {{ booking.paymentTel }}</ion-badge> 
                </span>
                <span *ngIf="!booking.status">
                    <ion-badge color="warning">En attente de paiement</ion-badge>
                </span>
            </p>
            <p *ngIf="booking.status">
                Code ticket: 
                <ion-chip color="success">
                  <ion-text style="margin-left: 5px;"> {{ booking.code }}</ion-text>
                </ion-chip>
            </p>
          </ion-label>

        </ion-item>
    </ion-item-sliding>
  </ion-list>

  <ion-list-header *ngIf="!isLoading && bookings.length == 0">
    Pas de réservations.
  </ion-list-header>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" #fab>
    <ion-fab-button (click)="refresh()">
      <ion-icon name="refresh"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
    