<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
        </ion-buttons>
  
      <ion-title>Liste des Trajets</ion-title>
  
      <ion-buttons slot="end">
        <ion-button (click)="presentFilter()">
          <span *ngIf="ios">Filtrer</span>
          <span *ngIf="!ios">
            <ion-icon slot="icon-only" name="options"></ion-icon>
          </span>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  
    <!-- <ion-toolbar>
      <ion-searchbar [(ngModel)]="queryText" (ionChange)="updateSchedule()" placeholder="Rechercher"></ion-searchbar>
    </ion-toolbar> -->
  </ion-header>
  
  <ion-content>

    <ion-list #rideList [hidden]="ridesGrouped.length === 0">
        <ion-item-group *ngFor="let group of ridesGrouped; let i=index;">
          <ion-item-divider sticky>
            <ion-label style="font-weight: bold;color: var(--ion-color-dark) !important;">
              {{ group.date| date : 'fullDate': 'UTC': 'fr' }}
            </ion-label>
          </ion-item-divider>
    
          <ion-item-sliding [attr.track]="i+1"  *ngFor="let ride of group.rides;">
            <ion-item routerLink="/ride-detail/{{ride.id}}/of/{{company.id}}">
              <ion-label>
                <h3>{{ ride.dep }} &mdash; {{ ride.dest }}</h3>
                <p>
                  Départ: {{ride.depHour}} &mdash; Places: {{ride.sits}} &mdash; Montant: {{ride.price}} CFA
                </p>
              </ion-label>
            </ion-item>
          
          </ion-item-sliding>
        </ion-item-group>
    </ion-list>
  
    <ion-list-header [hidden]="isLoading || ridesGrouped.length">
      Pas de trajets
    </ion-list-header>
  
    <ion-fab slot="fixed" vertical="bottom" horizontal="end" #fab>
      <ion-fab-button (click)="refresh()">
        <ion-icon name="refresh"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>
  