$categories: (
  1: var(--ion-color-primary), 2: #ac282b, 3: #8e8d93,
  4: #fe4c52, 5: #fd8b2d, 6: #fed035,
  7: #69bb7b, 8: #3bc7c4, 9: #222f30,
  10: #6600cc, 11: #28acac, 12: #8e8d93,
  13: #75fe4c, 14: #fd8b2d, 15: #473702,
  16: #00861d, 17: #2c2235, 18: #650ca5,
  19: #ef00cc, 20: #29cc00, 21: #0070cc,
  22: #2a0c20, 23: #885030, 24: #c9cc00d5,
);

@each $track, $value in map-remove($categories) {
  ion-item-sliding[track='#{$track}'] ion-label {
    border-left: 2px solid $value;
    padding-left: 10px;
  }
}
