/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


body {
  background-image: url('/assets/img/bg.jpg') !important;
  background-position: center;
}

ion-title {
  color: var(--ion-color-secondary) !important;
}

.item.sc-ion-label-md-h, .item .sc-ion-label-md-h {
  color: var(--ion-color-secondary) !important;
}

.swiper-pagination-bullet  {
  bottom: 90px !important;
  width: 10px !important;
  height: 10px !important;;
  background: #4caf50f7;
}

.swiper-pagination-bullet-active {
  background: var(--ion-color-secondary) !important;
}

.flooz {
  ion-icon {
    color: var(--ion-color-success) !important;
  }
}
.tmoney {
  ion-icon{
    color: var(--ion-color-warning) !important;
  }
}