<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Taga
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="updateCompanies()" placeholder="Rechercher"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid class="ion-padding-top">
    <ion-row>
      <ion-col size="12">
          <ion-label style="font-weight: bold;color: var(--ion-color-dark) !important;">Les compagnies</ion-label>
      </ion-col>
    </ion-row>

    <div *ngIf="searching" class="spinner-container">
      <ion-spinner></ion-spinner>
    </div>

    <ion-row>
      <ion-col size-lg="3" size-md="4" size-sm="6" size="12" *ngFor="let company of companies; let i=index;">
        <ion-card>
            <ion-item *ngIf="!company.hide" routerLink="/ride-list/{{company.id}}">
                <ion-avatar slot="start">
                  <img src="{{ rootUrl + '/uploads/medias/' + company.media }}">
                </ion-avatar>
                <ion-label>{{ company.name }}</ion-label>
                <ion-card-subtitle>{{ company.address }}</ion-card-subtitle>
              </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>
  
</ion-content>
