<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
      </ion-buttons>
      <ion-title>Réservation</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  
    <ion-row>
        <ion-col text-center col-12>
          <!-- <img src="assets/imgs/ok.gif" class="img"> -->
          <!-- <img src="assets/imgs/ok.gif" class="img"> -->
          <img src="assets/img/form.jpg"  style="    height: 100px;"            class="img">
        </ion-col>
      </ion-row>
  
    <form #bookingForm="ngForm" novalidate>
      <ion-list>
        <ion-item>
          <ion-label position="stacked" color="primary">Nom</ion-label>
          <ion-input [(ngModel)]="booking.lastName" name="lastName" type="text" #lastName="ngModel" required>
          </ion-input>
        </ion-item>
        <ion-label color="danger">
          <p [hidden]="lastName.valid || submitted == false" class="ion-padding-start">
            Nom requis
          </p>
        </ion-label>
  
        <ion-item>
          <ion-label position="stacked" color="primary">Prénoms</ion-label>
          <ion-input [(ngModel)]="booking.firstName" name="firstName" type="firstName" #firstName="ngModel" required>
          </ion-input>
        </ion-item>
        <ion-label color="danger">
          <p [hidden]="firstName.valid || submitted == false" class="ion-padding-start">
            Prénoms requis
          </p>
        </ion-label>

        <ion-item>
            <ion-label position="stacked" color="primary">Téléphone (sans +228)</ion-label>
            <ion-input [(ngModel)]="booking.tel" name="tel" type="tel" #tel="ngModel" required>
            </ion-input>
          </ion-item>
          <ion-label color="danger">
            <p [hidden]="tel.valid || submitted == false" class="ion-padding-start">
              Téléphone requis
            </p>
          </ion-label>

          <ion-item>
              <ion-label position="stacked" color="primary">Adresse</ion-label>
              <ion-textarea [(ngModel)]="booking.address" name="address" type="address" #address="ngModel" required></ion-textarea>
            </ion-item>
            <ion-label color="danger">
              <p [hidden]="address.valid || submitted == false" class="ion-padding-start">
                Adresse requise
              </p>
            </ion-label>
      </ion-list>
  
      <div class="ion-padding">
        <ion-button (click)="onSubmit(bookingForm)" shape="round" type="submit" expand="block">Valider</ion-button>
      </div>
    </form>
  
  </ion-content>
  