<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button color="danger" (click)="cancelBooking()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Confirmation</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content >
    <ion-grid fixed>
    <ion-row *ngIf="booking">
        <ion-col class="ion-text-center custom" col-12>
          <img src="assets/img/confirmation.jpg" class="img">
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-stretch" *ngIf="booking">
        <ion-col size="12" size-md="6">
          <ion-list *ngIf="ride" lines="none">
            <ion-item>
              <ion-icon name="calendar" slot="start"></ion-icon>
              <ion-label>{{ride.date|date:'fullDate': 'UTC': 'fr' }} {{ride.depHour}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-icon name="flag" slot="start"></ion-icon>
              <ion-label style="margin-right: -40px;">{{ride.dep}}</ion-label>
              <ion-icon style="margin-right: 40px;" name="arrow-forward"></ion-icon>
              <ion-label>{{ride.dest}}</ion-label>
            </ion-item>
            <ion-item lines="full">
              <ion-icon name="cash" slot="start"></ion-icon>
              <ion-label>{{ride.price}} CFA</ion-label>
            </ion-item>
          </ion-list>
            
          <ion-list *ngIf="booking" lines="none">
            <ion-item>
              <ion-icon name="contact" slot="start"></ion-icon>
              <ion-label>{{booking.custLastName}} {{booking.custFirstName}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-icon name="call" slot="start"></ion-icon>
              <ion-label>{{booking.custTel}}</ion-label>
            </ion-item>

            <ion-item>
                <ion-icon name="pin" slot="start"></ion-icon>
                <ion-label>{{booking.custAddress}}</ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>

  <ion-footer>
    <ion-toolbar class="ion-padding ion-no-padding-tb" *ngIf="booking">
        <ion-button expand="block" shape="round" style="margin-bottom: 0;margin-top: 0;"  (click)="openActionSheet()">Continuer et payer</ion-button>
    </ion-toolbar>
  </ion-footer>
  