.custom {
  --background: transparent;
    margin-bottom: 5px;
    -webkit-box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    box-shadow: 13px 22px 215px 100px rgba(0,0,0,.2), 0 -4px 2px 0px rgba(0,0,0,.14), 0 -2px 4px -1px rgba(0,0,0,.12);
}
.ion-no-padding-tb {
  padding-bottom: 0;
  padding-top: 0;
}
.scroll {
    background: #ededed;
  }
  
  .img {
      height: 150px;
      border-radius: 10%;
  }

  .cent {
      margin-top: auto;
      margin-bottom: auto;
  }

  .iconP {
      //color: rgba(80, 80, 199, 0.712);
      color: #16a205;
      // #00c853;
  }

  .space {
      padding-top: 15px;
  }

  .speaker-card {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .speaker-card ion-card-header {
    padding: 0;
  }
  
  .speaker-card ion-card-header .item {
    padding: 4px 16px;
  }
  
  .speaker-card ion-card-content {
    flex: 1 1 auto;
  
    padding: 0;
  }
  
  .flooz {
    ion-icon {
      color: var(--ion-color-success) !important;
    }
  }
  .tmoney {
    ion-icon{
      color: var(--ion-color-secondary) !important;
    }
  }