<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Résultat de la demande</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-row>
    <ion-col class="ion-text-center" col-12>
      <!-- <img src="assets/imgs/ok.gif" class="img"> -->
      <img *ngIf="booking && ok"  src="assets/img/ok.gif" class="img">
      <img *ngIf="booking && !ok" src="assets/img/payfailed.jpeg" class="img">
    </ion-col>
  </ion-row>
  <hr>
  <ion-row>
    <ion-col  class="ion-text-center">
      <p style="font-size: medium">
        <strong *ngIf="booking && ok">Paiement de la réservation effectuer avec succès. Votre code de voyage est <code>{{ booking.code }}</code>.
          Vous recevrez le même code par SMS. 
        </strong>
        <strong *ngIf="booking && !ok"> 
          Réservation enrégistrée mais semble t'il que vous n'avez pas encore effectué le paiement. <br>
          Votre code de voyage vous sera envoyé par SMS  au <code>{{ booking.custTel }} </code> 
          aussitot que vous validerez le paiement. Vous pouvez à tout moment consulter vos réservation sur la page 
          <code>Réservations</code> depuis le menu.    </strong>
      </p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-text-center" >
      <p style="font-size: small">
        Pour toute réclamation ou autre info, merci de bien vouloir nous contacter sur le <code></code>
      </p>
    </ion-col>
  </ion-row>
  <hr>
  <ion-row class="space">
      <ion-col size="12">
        <ion-button color="primary"  expand="block"  shape="round" class="ion-text-center" [routerLink]="['/home']">
          Finir
        </ion-button>
      </ion-col>
  </ion-row>
</ion-content>